
  .content {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white; /* Background color putih */
    display: flex;
  }
  
  .logo {
    flex: 0 0 auto;
    margin-right: 20px;
  }
  
  .logo-image {
    width: 250px;
    height: auto;
  }
  
  .text {
    flex: 1; /* Membuat teks mengisi sisa ruang yang tersedia */
  }
  
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .logo-image {
      max-width: 250px; /* Sesuaikan ukuran logo jika perlu */
    }
  
    .logo {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .deskripsi {
      text-align: center;
    }
  }
  