.Background-beranda {
  background-image: url('../src/assets/img/Background.jpg') ;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  width: 100%; /* Ensure it covers the entire viewport width */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
